# Ignore all .pth files
*.pth
# Ignore all .out executables
*.out

# To be stored locally (can be removed from .gitignore after significant polishing and training)
trainloss_and_valloss.csv
output.txt
