# .pth files are stored using LFS
# Ignore all .out executables
*.out

# To be stored locally (can be removed from .gitignore after significant polishing and training)
trainloss_and_valloss.csv
output.txt

# To be stored locally
__pycache__/
.vscode/